# Pool results from the multilayer perceptron for all 5 sets of data
- Calculate a single predicted probability for each patient via averaging the score for each patient (usrds_id) across the restulst for the 5 (imputations) sets of the model results

In [1]:
import pickle
import numpy as np
import pandas as pd

import psycopg2
from sqlalchemy import create_engine

con = create_engine('postgresql://username:password@location/dbname')

### Import the imputed predicted probabilities

In [ ]:
with open('./results/2021_MLP_final_ytest_all.pickle', 'rb') as f:  
    y_true_mlp = pickle.load(f)
    
with open('./results/2021_MLP_final_ypred_all.pickle', 'rb') as picklefile:  
    y_pred_proba_mlp = pickle.load(picklefile)

### Reformat into a pandas dataframe to make it easier to work with
The index for the values  is zero here b/c we only saved it for the positive class, otherwise it would be 1

In [5]:
pooled = pd.DataFrame()
pooled['imp1']=y_pred_proba_mlp[0][:,0] 
pooled['imp2']=y_pred_proba_mlp[1][:,0] 
pooled['imp3']=y_pred_proba_mlp[2][:,0] 
pooled['imp4']=y_pred_proba_mlp[3][:,0] 
pooled['imp5']=y_pred_proba_mlp[4][:,0] 
pooled.head()

       imp1      imp2      imp3      imp4      imp5
0  0.677572  0.764768  0.582416  0.796379  0.646979
1  0.657155  0.718089  0.527093  0.748711  0.641911
2  0.457672  0.350533  0.513291  0.560138  0.505401
3  0.515523  0.605403  0.402248  0.716361  0.562594
4  0.165916  0.199461  0.176441  0.313378  0.225053

### Calculate the mean and standard deviation of the predicted probability for the positive class (died_in_90) for each patient/row

In [6]:
pooled['score'] = pooled.mean(axis=1)
pooled['std_'] = pooled.std(axis=1)
pooled.head()

       imp1      imp2      imp3      imp4      imp5     score      std_
0  0.677572  0.764768  0.582416  0.796379  0.646979  0.693623  0.078001
1  0.657155  0.718089  0.527093  0.748711  0.641911  0.658592  0.076464
2  0.457672  0.350533  0.513291  0.560138  0.505401  0.477407  0.071277
3  0.515523  0.605403  0.402248  0.716361  0.562594  0.560426  0.103325
4  0.165916  0.199461  0.176441  0.313378  0.225053  0.216050  0.052747

### Import the details from the original data from step 1

In [ ]:
dataset = pd.read_sql_query('''SELECT  usrds_id, died_in_90, subset FROM medxpreesrd;''', con)

### sort the values so they are in the same order as when the LR was calculated and keep only the test set

In [8]:
dataset = dataset[dataset.subset > 6].copy().sort_values(by = 'usrds_id').reset_index(drop=True)

### merge the details with the pooled predictions

In [9]:
pooled = pooled.merge(dataset, left_index=True, right_index=True)
pooled

,imp1,imp2,imp3,imp4,imp5,score,std_,usrds_id,died_in_90,subset
0,0.677572,0.764768,0.582416,0.796379,0.646979,0.693623,0.078001,31089.0,1.0,9
1,0.657155,0.718089,0.527093,0.748711,0.641911,0.658592,0.076464,34521.0,0.0,8
2,0.457672,0.350533,0.513291,0.560138,0.505401,0.477407,0.071277,46751.0,0.0,8
3,0.515523,0.605403,0.402248,0.716361,0.562594,0.560426,0.103325,50506.0,0.0,9
4,0.165916,0.199461,0.176441,0.313378,0.225053,0.216050,0.052747,54985.0,0.0,8
...,...,...,...,...,...,...,...,...,...,...
345300,0.415212,0.422961,0.319098,0.561852,0.374703,0.418765,0.080472,4056286.0,0.0,8
345301,0.080883,0.088186,0.061374,0.078658,0.069855,0.075791,0.009283,4056351.0,0.0,7
345302,0.084520,0.100569,0.087491,0.083803,0.108473,0.092971,0.009834,4056356.0,0.0,9
345303,0.110417,0.076165,0.102096,0.069300,0.090053,0.089606,0.015377,4056511.0,0.0,7
345304,0.151570,0.140597,0.146142,0.146630,0.176061,0.152200,0.012427,4056879.0,0.0,7

### save as a pickle file

In [10]:
with open('./results/2021_final_MLP_model_test_pred_proba_pooled.pickle', 'wb') as picklefile:  
        pickle.dump(pooled, picklefile)